[run]
omit=src/logger.py
    
[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == '__main__':
    # Functions to avoid
    def main
    def __repr__
    def __str__
    @overload
